/*Global Styles*/
:root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #3d3d3d;
    font-weight: bold;
}

h4 {
    font-size: 1.25em;
    color: #3d3d3d;
    font-weight: bolder;
}

/*Nav Styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

nav span {
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
    font-size: 1.5em;
}

nav li {
    display: inline-flex;
    margin-right: 24px;
}

/*Header Styles*/
header {
    display: flex;
    background-color: #cccccc;
    padding: 32px 24px;
    justify-content: space-between;
    align-items: center;
}

header .hero {
    display: flex;
    padding-right: 24px;
    width: 60%;
}

header .intro {
    width: 35%;
}

header .cta {
    width: 70%;
    color: white;
    background-color: #3d3d3d;
    padding: 5px 0;
    text-align: center;
}

/*Main Styles*/


/*Footer Styles*/