/*Global Styles*/
:root {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3d3d3d;
    border: opx;
    --light-gray: #dfdfdf;
    --dark-gray: #3d3d3d;
}

h1 {
    font-size: 2.5em;
    color: var(--dark-gray);
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    line-height: 0;
    font-weight: lighter;
}

h4 {
    font-size: 1.25em;
    color: var(--dark-gray);
    font-weight: bolder;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

/*Nav Styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

nav span {
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
    font-size: 1.5em;
    justify-content: flex-end;
}

nav li {
    display: inline-flex;
    margin-right: 24px;
}

/*Header Styles*/
header {
    display: flex;
    background-color: var(--light-gray);
    padding: 32px 24px;
    justify-content: flex-start;
    align-items: center;
}

header .hero {
    display: flex;
    padding-right: 24px;
    width: 60%;
}

header .intro {
    width: 35%;
}

header .cta {
    width: 70%;
    color: white;
    background-color: var(--dark-gray);
    padding: 5px 0;
    text-align: center;
}

/*Main Styles*/

/*Articles*/
#articles {
    display: flex;
}

#articles a {
    color: #3376db;
}

#articles .featured {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 24px;
    width: 60%;
    align-items: flex-start;
    padding: 32px 24px;
}

#articles .article-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid var(--light-gray);
    padding-top: 16px;
}

#articles .article {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:16px;
    border-bottom: 1px solid var(--light-gray);
}

#articles .article img {
    width: 35%;
    height: auto;
    margin-right: 16px;
}

#highlight {
    background-color: var(--light-gray);
}

/*Courses*/
#start-learning {
    background-color: var(--light-gray);
}

#start-learning h2 {
    text-align: center;
    padding-top: 32px;
}

#course-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 56px;
    padding-bottom: 32px;
}

#course-container article {
    width: 30%;
    margin: 16px;
    background-color: white;
}

#course-container .course-description {
    padding: 16px;
}

/*Footer Styles*/